In [1]:
student = {
    'name' : "John",
    'age' : 19,
    'class' : '12th'
}
print(student)

{'name': 'John', 'age': 19, 'class': '12th'}

- how to declare it
- how to access key and value pairs
- how to use loops in dictionary
- indexing in dictionary

In [2]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [20,25,30],
    'mumbai' : [30,35,40]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [20, 25, 30], 'mumbai': [30, 35, 40]}

In [3]:
info = dict(name = "John", age = 19, course = '12th')
print(info)

{'name': 'John', 'age': 19, 'course': '12th'}

In [4]:
info2 = dict(name = (input("Enter your name : ")), 
age = int(input("Enter your age : ")), 
course = input("Enter your course : "))
print(info2)

{'name': 'areeba', 'age': 23, 'course': '13'}

In [5]:
#1st method to to access the value of a key
print(student['name'])
print(info['age'])

John
19

In [7]:
#2nd method to access the value of a key
print(student.get('name'))
print(info.get('age'))

John
19

In [9]:
#to add items in a dictionary
student['school'] = 'DPS'
student['city'] = 'Lucknow'
print(student)

{'name': 'John', 'age': 19, 'class': '12th', 'school': 'DPS', 'city': 'Lucknow'}

In [12]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'class', 'school', 'city'])
dict_values(['John', 19, '12th', 'DPS', 'Lucknow'])
dict_items([('name', 'John'), ('age', 19), ('class', '12th'), ('school', 'DPS'), ('city', 'Lucknow')])

In [13]:
for k in student:
    print(k)

name
age
class
school
city

In [15]:
for k,v in student.items():
    print(f'{k} : {v}')

name : John
age : 19
class : 12th
school : DPS
city : Lucknow

In [19]:
company = {
    'emp001' : {
        'name' : 'John',
        'age' : 25,
        'city' : 'Lucknow',
        'salary' : 25000
    },
    'emp002' : {
        'name' : 'Sam',
        'age' : 30,
        'city' : 'Delhi',
        'salary' : 30000
    },
    'emp003' : {
        'name' : 'Tom',
        'age' : 35,
        'city' : 'Mumbai',
        'salary' : 35000
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'city': 'Lucknow', 'salary': 25000}, 'emp002': {'name': 'Sam', 'age': 30, 'city': 'Delhi', 'salary': 30000}, 'emp003': {'name': 'Tom', 'age': 35, 'city': 'Mumbai', 'salary': 35000}}

In [20]:
from pprint import pprint

In [21]:
pprint(company)

{'emp001': {'age': 25, 'city': 'Lucknow', 'name': 'John', 'salary': 25000},
 'emp002': {'age': 30, 'city': 'Delhi', 'name': 'Sam', 'salary': 30000},
 'emp003': {'age': 35, 'city': 'Mumbai', 'name': 'Tom', 'salary': 35000}}

In [26]:
company['emp001']['name']

'John'